<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{ jenkins_system_config.admin_email }}</adminAddress>
  <jenkinsUrl>http://{{ ansible_default_ipv4.address }}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
